<mat-card class="about-content">
  <h1 i18n="@@About-Title">Information</h1>
  <p i18n="@@About-Subject">This application has been created by David González García as Final Degree Project.</p>
  <p i18n="@@About-Summary">Prototype of a web application that indexes microdata (schema.org) exposed by electronic stores and allows the search of
  products.</p>
  <p><ng-container i18n="@@About-SourceCode">Source code:</ng-container> <a href="https://github.com/davidglezz/tfg" target="_blank">https://github.com/davidglezz/tfg</a></p>
</mat-card>
