
<app-shop-list></app-shop-list>
<button mat-fab color="accent" class="fab-fixed-pos"><mat-icon>add</mat-icon></button>

<!--
<mat-card>
  <mat-card-title>Discover service</mat-card-title>
  <mat-card-subtitle>Running </mat-card-subtitle>
  <mat-card-actions>
    <button mat-button>START</button>
    <button mat-button>STOP</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-title>Known shops</mat-card-title>
  <mat-card-content>
    <ngx-datatable class="material" 
    [rows]="rows" 
    [columns]="columns" 
    [columnMode]="'force'" 
    [headerHeight]="'auto'" 
    [footerHeight]="'auto'" 
    [rowHeight]="50"
    [scrollbarV]="true"
    [externalPaging]="true"
    [count]="page.totalElements" 
    [offset]="page.pageNumber" 
    [limit]="10"
    [loadingIndicator]="loading"
    [externalSorting]="true"
    (sort)="onSort($event)" 
    (page)="setPage($event)">
  </ngx-datatable>
  </mat-card-content>
</mat-card>
-->