<mat-sidenav-container class="product-filters-container">
  <mat-sidenav #sidenav2 mode="side" align="start" opened="true" class="product-filters-sidenav" tabindex="-1">
    <mat-accordion multi="true">

      <mat-expansion-panel class="filter-price" [expanded]="filter.price.active" (opened)="setFilter('price',true)" (closed)="setFilter('price',false)">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@Product-Filter-Price-Title">Price</mat-panel-title>
          <mat-panel-description *ngIf="filter.price.active">
            {{filter.price.data.min}} - {{filter.price.data.max}}€
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput type="number" placeholder="From" i18n-placeholder="@@Product-Filter-Price-From" [(ngModel)]="filter.price.data.min"
            (input)="updateFilter()">
          <span matSuffix>€</span>
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput type="number" placeholder="To" i18n-placeholder="@@Product-Filter-Price-To" [(ngModel)]="filter.price.data.max"
            (input)="updateFilter()">
          <span matSuffix>€</span>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel class="filter-rating" [expanded]="filter.rating.active" (opened)="setFilter('rating',true)" (closed)="setFilter('rating',false)">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@Product-Filter-Rating-Title">Rating</mat-panel-title>
          <mat-panel-description *ngIf="filter.rating.active">
            ≥ {{filter.rating.data | number:'1.1-1'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-slider class="filter-slider first" min="0" max="5" thumbLabel step="0.1" tickInterval="10" (change)="updateFilter()"
          [(ngModel)]="filter.rating.data"></mat-slider>
      </mat-expansion-panel>

      <mat-expansion-panel class="filter-shop" [expanded]="filter.shop.active" (opened)="setFilter('shop',true)" (closed)="setFilter('shop',false)">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@Product-Filter-Shop-Title">Shop</mat-panel-title>
          <mat-panel-description *ngIf="filter.shop.active">{{filterShops.selectedOptions.selected.length}}</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-selection-list dense #filterShops class="filter-list">
          <mat-list-option class="filter-list-item" *ngFor="let shop of filter.shop.data" [value]="shop.id" (click)="updateFilter()">
            <div class="filter-list-item-content">
              <img src="http://www.google.com/s2/favicons?domain={{shop.domain}}" alt="Icon" width="16" height="16"> {{shop.name}}
            </div>
          </mat-list-option>
        </mat-selection-list>
        <mat-action-row>
          <button mat-button class="center" color="primary" (click)="filterShops.deselectAll();updateFilter()" i18n="@@Product-Filter-SelectNoneBtn">Select None</button>
          <button mat-button class="center" color="primary" (click)="filterShops.selectAll();updateFilter()" i18n="@@Product-Filter-SelectAllBtn">Select All</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel class="filter-brand" [expanded]="filter.brand.active" (opened)="setFilter('brand',true)" (closed)="setFilter('brand',false)">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@Product-Filter-Brand-Title">Brand</mat-panel-title>
          <mat-panel-description *ngIf="filter.brand.active">{{filterBrand.selectedOptions.selected.length}}</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-selection-list dense #filterBrand class="filter-list" (selectChange)="log($event)" (ngModelChange)="log($event)" (change)="log($event)">
          <mat-list-option class="filter-list-item" *ngFor="let brand of filter.brand.data | objectKeys" [value]="brand" [selected]="filter.brand.data[brand]"
            (selectChange)="log($event)" (deselected)="log($event)" (ngModelChange)="log($event)" (change)="log($event)" (click)="updateFilter()">
            <div class="filter-list-item-content">
              {{brand}}
            </div>
          </mat-list-option>
        </mat-selection-list>
        <mat-action-row>
          <button mat-button class="center" color="primary" (click)="filterBrand.deselectAll();updateFilter()" i18n="@@Product-Filter-SelectNoneBtn">Select None</button>
          <button mat-button class="center" color="primary" (click)="filterBrand.selectAll();updateFilter()" i18n="@@Product-Filter-SelectAllBtn">Select All</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel class="filter-availability" [expanded]="filter.availability.active" (opened)="setFilter('availability',true)"
        (closed)="setFilter('availability',false)">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@Product-Filter-Availability-Title">Availability</mat-panel-title>
          <mat-panel-description *ngIf="filter.availability.active">{{filterAvailability.selectedOptions.selected.length}}</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-selection-list dense #filterAvailability class="filter-list">
          <mat-list-option class="filter-list-item" *ngFor="let availability of filter.availability.data | objectKeys" [value]="availability"
            [selected]="filter.availability.data[availability]" (click)="updateFilter()">
            <div class="filter-list-item-content">
              {{availability}}
            </div>
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>

      <mat-expansion-panel class="filter-language" [expanded]="filter.language.active" (opened)="setFilter('language',true)" (closed)="setFilter('language',false)">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@Product-Filter-Language-Title">Language</mat-panel-title>
          <mat-panel-description *ngIf="filter.language.active">{{filterLanguage.selectedOptions.selected.length}}</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-selection-list dense #filterLanguage class="filter-list" (selectChange)="log($event)" (ngModelChange)="log($event)"
          (change)="log($event)">
          <mat-list-option class="filter-list-item" *ngFor="let language of filter.language.data | objectKeys" [value]="language" [selected]="filter.language.data[language]"
            (selectChange)="updateFilter()" (deselected)="updateFilter()" (click)="updateFilter()">
            <div class="filter-list-item-content">
              {{language}}
            </div>
          </mat-list-option>
        </mat-selection-list>
        <mat-action-row>
          <button mat-button class="center" color="primary" (click)="filterLanguage.deselectAll();updateFilter()" i18n="@@Product-Filter-SelectNoneBtn">Select None</button>
          <button mat-button class="center" color="primary" (click)="filterLanguage.selectAll();updateFilter()" i18n="@@Product-Filter-SelectAllBtn">Select All</button>
        </mat-action-row>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-sidenav>

  <mat-toolbar>
    <span i18n="@@Product-List-Title">Products</span>
    <span class="fill-remaining-space"></span>
    <!-- 
    <div class="status">
       Showing
      <span class="badge">{{indices?.start + 1}}</span>-
      <span class="badge">{{indices ? indices.end : 1}}</span> of
      <span class="badge">{{items?.length}}</span>
    </div>
    -->
    <!-- fill the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <!-- 
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
    -->
  </mat-toolbar>

  <virtual-scroll #productVirtualScroll [items]="items" (update)="scrollItems = $event" (end)="fetchMore($event)" [childWidth]="249"
    [childHeight]="360">
    <app-product-item *ngFor="let item of scrollItems" [item]="item"></app-product-item>
    <!--<mat-progress-spinner *ngIf="loading" class="loader" color="primary" mode="indeterminate"></mat-progress-spinner>-->
    <mat-progress-bar *ngIf="loading" class="loader" color="primary" mode="indeterminate"></mat-progress-bar>
  </virtual-scroll>
</mat-sidenav-container>
