<mat-progress-spinner *ngIf="isLoading" class="loader" color="primary" mode="indeterminate"></mat-progress-spinner>
<mat-card class="product-info-content" *ngIf="!isLoading">
  <mat-card-content>
    <div class="row">
      <div class="col no-grow">
        <img class="image" [src]="product.image | defaultPicture" width="440px" height="440px" />
      </div>
      <div class="col">
        <h1 class="title">{{product.name}}</h1>
        <div class="description" *ngIf="product.description">
           {{ (product.description.length > 400) ? (product.description | slice:0:400)+'…' : product.description }}
        </div>

        <h2>Detalles</h2>
        <ul class="property-list">
          <li *ngIf="product.brand">
            <span i18n="@@Product-Info-Brand">Brand:</span>
            <strong>{{product.brand}}</strong>
          </li>
          <li *ngIf="product.color">
            <span i18n="@@Product-Info-Color">Color:</span>
            <strong>{{product.color}}</strong>
          </li>
          <li *ngIf="product.gtin13">
            <span i18n="@@Product-Info-EAN13">EAN13:</span>
            <strong>{{product.gtin13}}</strong>
          </li>
          <li *ngIf="product.mpn">
            <span i18n="@@Product-Info-MPN">MPN:</span>
            <strong>{{product.mpn}}</strong>
          </li>
          <li *ngIf="product.sku">
            <span i18n="@@Product-Info-SKU">SKU:</span>
            <strong>{{product.sku}}</strong>
          </li>
          <li *ngIf="product.productID">
            <span i18n="@@Product-Info-ProductID">Product ID:</span>
            <strong>{{product.productID}}</strong>
          </li>
          <li *ngIf="product.language">
            <span i18n="@@Product-Info-Language">Language:</span>
            <strong>{{product.language}}</strong>
          </li>
          <li>
            <span i18n="@@Product-Info-UpdatedOn">Updated on:</span>
            <strong>{{product.dateUpd | date:"dd/MM/yyyy hh:mm"}}</strong>
          </li>
          <li>
            <span i18n="@@Product-Info-FoundOn">Found on:</span>
            <strong>{{product.dateAdd | date:"dd/MM/yyyy hh:mm"}}</strong>
          </li>
        </ul>

        <div class="rating" *ngIf="product.ratingValue">
          <div class="rating-stars">
            <span class="rating-star" *ngFor="let v of [0,1,2,3,4]">
              <mat-icon *ngIf="product.ratingValue*5 < v+0.25">star_border</mat-icon>
              <mat-icon *ngIf="product.ratingValue*5 >= v+0.25 && product.ratingValue*5 <= v+0.75">star_half</mat-icon>
              <mat-icon *ngIf="product.ratingValue*5 > v+0.75">star</mat-icon>
            </span>
          </div>
          <p class="rating-results">
            <ng-container i18n="@@Product-Info-Rating1">It has a rating of</ng-container>
            <strong> {{product.ratingValue * 5.0 | number:'1.0-2'}} / 5 </strong>
            <ng-container i18n="@@Product-Info-Rating2">with a total of</ng-container>
            <strong> {{product.ratingCount}} </strong>
            <ng-container i18n="@@Product-Info-Rating3">reviews.</ng-container>
          </p>
        </div>

        <hr />
        <div class="price-content" *ngIf="product.price>0">
          <span class="price {{product.priceCurrency}}" *ngIf="product.price!=product.priceTotal">{{product.price | number:'1.0-2'}}</span>
          <span class="divider" *ngIf="product.price!=product.priceTotal"> / </span>
          <span class="priceTotal {{product.priceCurrency}}">{{product.priceTotal | number:'1.0-2'}}</span>
          <span class="availability {{product.availability}}">{{product.availability}}</span>
        </div>
      </div>
    </div>

    <mat-tab-group class="additional-info">
      <mat-tab label="Sellers" i18n-label="@@Product-Info-Tab-Sellers">
        <mat-nav-list *ngIf="urls.length > 0">
          <a mat-list-item target="_blank" href="{{url.href}}" *ngFor="let url of urls">
            <img matListAvatar src="https://api.statvoo.com/favicon/?url={{url.shop.domain}}" alt="{{url.shop.name}} Icon">
            <h3 matLine>
              {{url.shop.name}}
            </h3>
            <span matLine>{{url.href}}</span>
            <button mat-button>
              <mat-icon matListIcon>launch</mat-icon>
            </button>
          </a>
        </mat-nav-list>
        <h3 class="muted center" *ngIf="urls.length === 0" i18n="@@Product-Info-NoShops">Wow! Nobody sells this item.</h3>

        <div *ngIf="prices.values">
          <canvas baseChart [datasets]="prices.values" [labels]="prices.labels" [options]="prices.options" chartType="line"></canvas>
        </div>
        <!-- -->
      </mat-tab>

      <mat-tab label="Similar" i18n-label="@@Product-Info-Tab-Similar">
        <div class="tab-body-content" *ngIf="similar.length > 0">
          <app-product-item *ngFor="let item of similar" [item]="item"></app-product-item>
        </div>
        <div class="tab-body-content" *ngIf="similar.length == 0">
          <p i18n="@@Product-Info-NoSimilar">No similar products found</p>
        </div>
      </mat-tab>

      <mat-tab label="Description" i18n-label="@@Product-Info-Tab-Description">
        <div class="tab-body-content">
          {{product.description}}
        </div>
      </mat-tab>

      <!--
      <mat-tab label="Reviews">
        TODO
      </mat-tab>
       -->
    </mat-tab-group>

    <!--
    <div class="footer">
      <button mat-button color="primary">ATRAS</button>
    </div>
    -->
  </mat-card-content>
</mat-card>
