virtual-scroll {
  display: block;
  width: 100%;
  /* 100% menos la toolbar, pading, 2ยบ toolbar */
  height: calc(100vh - 64px - 0px - 64px);
  /*margin: 0 -16px;*/
}

virtual-scroll .scrollable-content {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.muted {
  color: rgba(0, 0, 0, .32);
}

.text-center {
  text-align: center;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.loader {
  width: calc(100% - 48px);
  margin: 1rem;
  box-sizing: border-box;
}

.product-sidenav {
  padding: 1rem;
  background: transparent;
  max-width: 18rem;
}

.product-filters .full-width {
  width: 100%;
}

.product-filters .no-padding .mat-expansion-panel-body {
  margin: 0;
  padding: 0;
}


/* slider */

.product-filters .slider-wrapper {
  padding: 0 1rem 0.5rem 1rem;
}

.product-filters .filter-slider {
  width: 100%;
}

.product-filters .filter-slider:first-child {
  margin-top: 1rem;
}


/* selection-list */

.product-filters .selection-list .mat-expansion-panel-body {
  margin: 0;
  padding: 0;
}

.product-filters .selection-list .mat-action-row {
  padding: 1rem;
}

.product-filters .selection-list .mat-action-row button.mat-button:first-child {
  margin-left: 0;
}

.product-filters .selection-list .mat-selection-list {
  overflow: hidden;
  overflow-y: auto;
  max-height: 250px;
  outline: 0;
}

.product-filters .selection-list .mat-list-item .mat-list-text {
  padding: 0 8px;
}

.product-filters .selection-list .mat-list-item .inner-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-filters .selection-list .mat-list-item .inner-content img {
  vertical-align: text-bottom;
  margin-right: 0.5rem;
}


/* chips */

.product-filters .chip-list .chip {
  margin: 3px !important;
}

.product-filters .chip-list .chip:last-child {
  margin-bottom: 11px !important;
}
