<form>
  <h1 class="content">
    <span i18n="@@Shop-Add-Title">New shop: </span>
  </h1>
  <mat-card class="content">
    <mat-card-content>

      <div *ngIf="step==0">
        <h2 i18n="@@Shop-Add-Step1-Title">1. Autodetect</h2>
        <div>
          <mat-form-field class="full-width">
            <input matInput placeholder="Url of article" i18n-placeholder="@@Shop-Add-UrlArticle" [(ngModel)]="autodetectUrlArticle"
              [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>
        </div>
        <button mat-button (click)="skip()" i18n="@@Shop-Add-SkipBtn">Skip</button>
        <button mat-button (click)="autodetect()">
          <mat-progress-spinner *ngIf="loading1" class="loading-small" color="primary" mode="indeterminate" [strokeWidth]="2" [diameter]="18"></mat-progress-spinner>
          <span i18n="@@Shop-Add-AutodetectBtn">Autodetect</span>
        </button>
      </div>
      <div *ngIf="step==1">
        <h2 i18n="@@Shop-Add-Step2-Title">2. Information</h2>
        <div>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="shop.name" placeholder="Name" name="name" i18n-placeholder="@@Shop-Add-Name">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="shop.domain" placeholder="Domain" name="domain" i18n-placeholder="@@Shop-Add-Domain">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="shop.sitemap" placeholder="Sitemap url" name="sitemap" i18n-placeholder="@@Shop-Add-Sitemap">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="shop.shippingCost" placeholder="Shipping cost (€)" name="shippingCost" i18n-placeholder="@@Shop-Add-ShippingCost">
          </mat-form-field>
        </div>
        <div>
          <button mat-button [routerLink]="['/shop']" i18n="@@Shop-Add-CancelBtn">Cancel</button>
          <button mat-button (click)="save()">
            <mat-progress-spinner *ngIf="loading2" class="loading-small" color="primary" mode="indeterminate" [strokeWidth]="2" [diameter]="18"></mat-progress-spinner>
            <span i18n="@@Shop-Add-SaveBtn">Save</span>
          </button>
        </div>
        <!--
        <div>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="shop.productUpdInterval" placeholder="Product update interval (ms)" name="productUpdInterval"
              i18n-placeholder="@@Shop-Add-ProductUpdInterval">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="shop.sitemapUpdInterval" placeholder="Sitemap update interval (ms)" name="sitemapUpdInterval"
              i18n-placeholder="@@Shop-Add-SitemapUpdInterval">
          </mat-form-field>
        </div>
        -->
      </div>
    </mat-card-content>
  </mat-card>
</form>
